absl-py==1.3.0
astor==0.8.1
atari-py==0.2.6
cloudpickle==1.6.0
cycler==0.11.0
fonttools==4.38.0
gast==0.5.3
google-pasta==0.2.0
grpcio==1.51.1
gym==0.19.0
h5py==3.7.0
importlib-metadata==5.1.0
joblib==1.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mpi4py==3.1.4
numpy==1.21.6
opencv-python==4.6.0.66
packaging==21.3
pandas==1.3.5
Pillow==9.3.0
protobuf==3.20.3
pyglet==1.5.7
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
scipy==1.7.3
six==1.16.0
-e git+ssh://git@github.com/JStrick510/slimevolleygym.git@0c3ca36bb40ae9eae35286dfdf2347023a7b2aa9#egg=slimevolleygym
stable-baselines==2.10.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==2.1.1
typing_extensions==4.4.0
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
